<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Needezo</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

    <div class ="help_container">
      <h1> Simplest Way to Complicated Needs </h1>
      <br/><br/>

      <h3 name="#h1.0">What is NEEDEZO?</h3>
      <br/>
      <a name="#h1.1">Needezo is where you say what do you need and people could help you with your SPECIAL needs , for years (probably human history) people did business the way that customer should look for a seller and seller should advertise ... What if people could dictate what they want ? and besides in traditional way of business only common needs where considered as needs but in modern world exceptions are not exceptions anymore,  this way is way safer to reach a customer, in case your needs are special or unusual you could try your chance here</a>
      <br/><br/>

      <h3 name="#h2.0">Why NEEDEZO?</h3>
      <br/>
      <a name="#h2.1">Do you need recipe of how to make man fly? or how to make your boy/girl friend loves you more ? i'm joking but you may need something more special that you can't find on other websites or by searching in google ? but TRUST me there are people out there offering services you need, you just need to say it and they will find you</a>
      <br/><br/>

      <h3 name="#h3.0">Is NEEDEZO also for casual products?</h3>
      <br/>
      <a name="#h3.1">Ofcourse it is ! people look for different things here from cigar to gaming consoles</a>
      <br/><br/>

      <h3 name="#h4.0">How safe is NEEDEZO?</h3>
      <br/>
      <a name="#h41">That's NEEDEZO , we don't save any information regarding your identity neither your locaiton, when you use location we don't store the exact location , and communications between you and your provider is completely private and your provider could recommend you a safer communication way for further communication  </a>
      <br/><br/>

      <h3 name="#h5.0">EMAIL</h3>
    </div>
    
  </body>

  <script>
 
  </script>


</html>