<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Needezo</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/itemstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">    
    
  </head>
  <body>
    <script id="props" type="application/json">
        <%- props %>
    </script>
    <div id='app'><%- item %></div>
    <script src="/build/item.js"></script>
    
    
  </body>




</html>